<div class="card mt-4">
  <h4 class="card-header">Detalhes do Ativo</h4>
  <div class="card-body">
    <form [formGroup]="form">

      <div class="form-group">
        <label for="id">ID</label>
        <input type="number" readonly class="form-control" id="id" formControlName="id">
      </div>

      <div class="form-group">
        <label for="descricao">Descrição</label>
        <input type="text" class="form-control" id="descricao" formControlName="descricao" [ngClass]="{ 'is-invalid': submitted && f.descricao.errors }">
      </div>

      <div class="form-group">
        <label for="tipo">Tipo</label>
        <select id="tipo" class="form-control" formControlName="tipo" [ngClass]="{ 'is-invalid': submitted && f.tipo.errors }">
          <option selected value="">selecionar...</option>
          <option *ngFor="let tipo of tipos" value="{{tipo.id}}">{{tipo.descricao}}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="nota">Nota Fiscal</label>
        <input type="text" class="form-control" id="nota" formControlName="nota" [ngClass]="{ 'is-invalid': submitted && f.nota.errors }">
      </div>

      <div class="form-group">
        <label for="aquisicao">Data de Aquisicao</label>
        <input type="text" data-provide="datepicker" class="form-control" id="aquisicao" formControlName="aquisicao" [ngClass]="{ 'is-invalid': submitted && f.aquisicao.errors }">
      </div>

      <div class="form-group">
        <label for="fornecedor">Fornecedor</label>
        <select id="fornecedor" class="form-control" formControlName="fornecedor" [ngClass]="{ 'is-invalid': submitted && f.fornecedor.errors }">
          <option selected value="">selecionar...</option>
          <option *ngFor="let fornecedor of fornecedores" value="{{fornecedor.id}}">{{fornecedor.nomeFantasia}}</option>
        </select>
      </div>

      <div class="form-group">
        <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                  <i class="fa fa-calendar" aria-hidden="true"></i> Cronograma
                </button>
              </h2>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">
                <button type="button" class="btn btn-success mb-2" *ngIf="exibeBotaoNovoAgendamento" routerLink="/cronograma-novo/{{ativoId}}">
                  <i class="fa fa-plus" aria-hidden="true"></i> Novo Agendamento
                </button>
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Tipo</th>
                      <th scope="col">Datas</th>
                      <th scope="col">Observações</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let crono of cronogramas" routerLink="/cronograma-detalhes/{{ativoId}}/{{crono.id}}">
                      <th>{{crono.id}}</th>
                      <td>{{crono.tipoManutencao}}</td>
                      <td>{{crono.proximaManutencao | date:'fullDate'}}</td>
                      <td>{{crono.observacoes}}</td>
                      <td></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Manutenção
                </button>
              </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body">
                <button type="button" class="btn btn-success mb-2" *ngIf="exibeBotaoNovaManutencao" routerLink="/manutencao-novo/{{ativoId}}">
                  <i class="fa fa-plus" aria-hidden="true"></i> Nova Manutenção
                </button>
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">usuario</th>
                      <th scope="col">dataRealizada</th>
                      <th scope="col">observacoes</th>
                      <th scope="col">tipoManutencao</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let manu of manutencoes" routerLink="/manutencao-detalhes/{{ativoId}}/{{manu.id}}">
                      <th>{{manu.id}}</th>
                      <td>{{manu.usuario}}</td>
                      <td>{{manu.dataRealizada | date:'fullDate'}}</td>
                      <td>{{manu.observacoes}}</td>
                      <td>{{manu.tipoManutencao}}</td>
                      <td></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group mx-sm-2 mb-2">
        <button type="button" class="btn btn-secondary" *ngIf="!loading" routerLink="/ativos-list">Voltar</button>

        <button [disabled]="loading" *ngIf="exibeBotaoRemover" class="btn btn-danger" (click)="delete()">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Remover
        </button>

        <button [disabled]="loading" *ngIf="exibeBotaoSalvar" class="btn btn-primary" (click)="salvar()">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Salvar
        </button>
      </div>

    </form>
  </div>
</div>
