<div class="card mt-4">
  <h4 class="card-header">Novo Fornecedor</h4>
  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="salvar()">

      <div class="form-group">
        <label for="nomefantasia">Nome Fantasia</label>
        <input type="text" class="form-control" id="nomefantasia" formControlName="nomefantasia" [ngClass]="{ 'is-invalid': submitted && f.nomefantasia.errors }">
      </div>

      <div class="form-group">
        <label for="cnpj">CNPJ</label>
        <input type="text" class="form-control" id="cnpj" formControlName="cnpj" [ngClass]="{ 'is-invalid': submitted && f.cnpj.errors }">
      </div>

      <div class="form-group">
        <label for="endereco">Endereço</label>
        <input type="text" class="form-control" id="endereco" formControlName="endereco" [ngClass]="{ 'is-invalid': submitted && f.endereco.errors }">
      </div>

      <div class="form-group">
        <label for="email">E-mail</label>
        <input type="text" class="form-control" id="email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
      </div>

      <div class="form-group">
        <label for="tel1">Telefone (1)</label>
        <input type="text" class="form-control" id="tel1" formControlName="tel1" [ngClass]="{ 'is-invalid': submitted && f.tel1.errors }">
      </div>

      <div class="form-group">
        <label for="tel2">Telefone (2)</label>
        <input type="text" class="form-control" id="tel2" formControlName="tel2">
      </div>

      <div class="form-group">
        <label for="tel1">Telefone (3)</label>
        <input type="text" class="form-control" id="tel3" formControlName="tel3">
      </div>

      <div class="form-group mx-sm-2 mb-2">
        <button type="button" class="btn btn-secondary" *ngIf="!loading" routerLink="/ativo-tipo-lista">Voltar</button>

        <button [disabled]="loading" class="btn btn-primary">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Salvar
        </button>
      </div>

    </form>
  </div>
</div>
