<div class="card mt-4">
  <h4 class="card-header">Novo Ativo</h4>
  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="salvar()">

      <div class="form-group">
        <label for="descricao">Descrição</label>
        <input type="text" class="form-control" id="descricao" formControlName="descricao" [ngClass]="{ 'is-invalid': submitted && f.descricao.errors }">
      </div>

      <div class="form-group">
        <label for="tipo">Tipo</label>
        <select id="tipo" class="form-control" formControlName="tipo" [ngClass]="{ 'is-invalid': submitted && f.tipo.errors }">
          <option selected value="">selecionar...</option>
          <option *ngFor="let tipo of tipos" value="{{tipo.id}}">{{tipo.descricao}}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="nota">Nota Fiscal</label>
        <input type="text" class="form-control" id="nota" formControlName="nota" [ngClass]="{ 'is-invalid': submitted && f.nota.errors }">
      </div>

      <div class="form-group">
        <label for="aquisicao">Data de Aquisicao</label>
        <input type="text" data-provide="datepicker" class="form-control" id="aquisicao" formControlName="aquisicao" [ngClass]="{ 'is-invalid': submitted && f.aquisicao.errors }">
      </div>

      <div class="form-group">
        <label for="fornecedor">Fornecedor</label>
        <select id="fornecedor" class="form-control" formControlName="fornecedor" [ngClass]="{ 'is-invalid': submitted && f.fornecedor.errors }">
          <option selected value="">selecionar...</option>
          <option *ngFor="let fornecedor of fornecedores" value="{{fornecedor.id}}">{{fornecedor.nomeFantasia}}</option>
        </select>
      </div>

      <div class="form-group mx-sm-2 mb-2">
        <button type="button" class="btn btn-secondary" *ngIf="!loading" routerLink="/ativos-list">Voltar</button>

        <button [disabled]="loading" class="btn btn-primary">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Salvar
        </button>
      </div>

    </form>
  </div>
</div>
