﻿<div class="card mt-4">
    <h4 class="card-header">Página Inicial</h4>
    <div class="card-body">
        <div class="list-group">
          <a href="#" class="list-group-item list-group-item-action active">
            Menu
          </a>
          <a *ngFor="let menu of navMenu.menu[user.roles[0].name]" class="list-group-item list-group-item-action" [routerLink]="menu.link">{{menu.descricao}}</a>
        </div>

        <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
    </div>
</div>
