<div class="card mt-4">
  <h4 class="card-header">Gerenciar Ativos</h4>
  <div class="card-body">

    <div class="form-inline">
      <div class="form-group mx-sm-2 mb-2">
        <input type="text" class="form-control" id="ativoFilter" [(ngModel)]="ativoFilter" placeholder="Buscar ativo...">
      </div>
      <div class="ml-auto">
        <button type="button" class="btn btn-success mb-2" *ngIf="exibeBotaoNovo" routerLink="/ativos-novo"><i class="fa fa-plus" aria-hidden="true"></i> Novo</button>
      </div>
    </div>

    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Descrição</th>
          <th scope="col">Tipo</th>
          <th scope="col">Nota Fiscal</th>
          <th scope="col">Data de Aquisição</th>
          <th scope="col">Fornecedor</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ativo of ativoList | filter : ativoFilter : 'descricao'" routerLink="/ativos-details/{{ativo.id}}">
          <th>{{ativo.id}}</th>
          <td>{{ativo.descricao}}</td>
          <td>{{ativo.tipo.descricao}}</td>
          <td>{{ativo.notaFiscal}}</td>
          <td>{{ativo.dataAquisicao | date:'fullDate'}}</td>
          <td>{{ativo.fornecedor.nomeFantasia}}</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
