<div class="card mt-4">
  <h4 class="card-header">Detalhes Manutencao</h4>
  <div class="card-body">

    <form [formGroup]="form">

      <div class="form-group">
        <label for="id">ID</label>
        <input type="number" readonly class="form-control" id="id" formControlName="id">
      </div>

      <div class="form-group">
        <label for="usuario">Técnico</label>
        <input type="text" class="form-control" id="usuario" formControlName="usuario" [ngClass]="{ 'is-invalid': submitted && f.usuario.errors }">
      </div>

      <div class="form-group">
        <label for="datarealizada">Data Realizada</label>
        <input type="text" class="form-control" id="datarealizada" formControlName="datarealizada" [ngClass]="{ 'is-invalid': submitted && f.datarealizada.errors }">
      </div>

      <div class="form-group">
        <label for="observacoes">Observações</label>
        <input type="text" class="form-control" id="observacoes" formControlName="observacoes" [ngClass]="{ 'is-invalid': submitted && f.observacoes.errors }">
      </div>

      <div class="form-group">
        <label for="manutencao">Manutenção</label>
        <select id="manutencao" class="form-control" formControlName="manutencao" [ngClass]="{ 'is-invalid': submitted && f.manutencao.errors }">
          <option selected value="">selecionar...</option>
          <option *ngFor="let tipo of const.tiposManutencao" value="{{tipo.valor}}">{{tipo.texto}}</option>
        </select>
      </div>

      <div class="form-group">
        <button type="button" class="btn btn-secondary" *ngIf="!loading" routerLink="/ativos-details/{{pathAtivoId}}">Voltar</button>

        <button [disabled]="loading" *ngIf="exibeBotaoRemover" class="btn btn-danger" (click)="remover()">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Remover
        </button>

        <button [disabled]="loading" *ngIf="exibeBotaoSalvar" class="btn btn-primary" (click)="salvar()">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Salvar
        </button>
      </div>

    </form>
  </div>
</div>
