<div class="card mt-4">
  <h4 class="card-header">Detalhes do Tipo do Ativo</h4>
  <div class="card-body">
    <form [formGroup]="form">

      <div class="form-group">
        <label for="id">ID</label>
        <input type="number" readonly class="form-control" id="id" formControlName="id">
      </div>

      <div class="form-group">
        <label for="descricao">Descrição</label>
        <input type="text" class="form-control" id="descricao" formControlName="descricao" [ngClass]="{ 'is-invalid': submitted && f.descricao.errors }">
      </div>

      <div class="form-group mx-sm-2 mb-2">
        <button type="button" class="btn btn-secondary" *ngIf="!loading" routerLink="/ativo-tipo-lista">Voltar</button>

        <button [disabled]="loading" class="btn btn-danger" (click)="delete()">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Remover
        </button>

        <button [disabled]="loading" class="btn btn-primary" (click)="salvar()">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Salvar
        </button>
      </div>

    </form>
  </div>
</div>
