<div class="card mt-4">
  <h4 class="card-header">Gerenciar Tipos de Ativo</h4>
  <div class="card-body">

    <div class="form-inline">
      <div class="form-group mx-sm-2 mb-2">
        <input type="text" class="form-control" id="tipoFilter" [(ngModel)]="tipoFilter" placeholder="Buscar ativo...">
      </div>
      <div class="ml-auto">
        <button type="button" class="btn btn-success mb-2" routerLink="/ativo-tipo-novo"><i class="fa fa-plus" aria-hidden="true"></i> Novo</button>
      </div>
    </div>

    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Descrição</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tipo of tipos | filter : tipoFilter : 'descricao'" routerLink="/ativo-tipo-detalhes/{{tipo.id}}">
          <th>{{tipo.id}}</th>
          <td>{{tipo.descricao}}</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
