<div class="card mt-4">
  <h4 class="card-header">Barragens</h4>
  <div class="card-body">

    <div class="form-inline">
      <div class="form-group mb-2">
        <input type="text" class="form-control" id="tipoFilter" [(ngModel)]="barragemFilter" placeholder="Buscar ativo...">
      </div>
      <!--<div class="ml-auto">
        <button type="button" class="btn btn-success mb-2" routerLink="/ativo-tipo-novo"><i class="fa fa-plus" aria-hidden="true"></i> Novo</button>
      </div>-->
    </div>

    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">Municipio</th>
          <th scope="col">Estado</th>
          <th scope="col">Latitude</th>
          <th scope="col">Longitude</th>
          <th scope="col">Bacia</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let barragem of barragens | filter : barragemFilter : 'nome'" routerLink="/barragem-monitoramento/{{barragem.id}}">
          <th>{{barragem.id}}</th>
          <td>{{barragem.nome}}</td>
          <td>{{barragem.municipio}}</td>
          <td>{{barragem.estado}}</td>
          <td>{{barragem.latitude}}</td>
          <td>{{barragem.longitude}}</td>
          <td>{{barragem.bacia}}</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
