<div class="card mt-4">
  <h4 class="card-header">Gerenciar Fornecedores</h4>
  <div class="card-body">

    <div class="form-inline">
      <div class="form-group mx-sm-2 mb-2">
        <input type="text" class="form-control" id="tipoFilter" [(ngModel)]="fornecedorFilter" placeholder="Buscar ativo...">
      </div>
      <div class="ml-auto">
        <button type="button" class="btn btn-success mb-2" routerLink="/fornecedor-novo"><i class="fa fa-plus" aria-hidden="true"></i> Novo</button>
      </div>
    </div>

    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome Fantasia</th>
          <th scope="col">CNPJ</th>
          <th scope="col">Endereço</th>
          <th scope="col">E-mail</th>
          <th scope="col">Telefone 1</th>
          <th scope="col">Telefone 2</th>
          <th scope="col">Telefone 3</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fornecedor of fornecedores | filter : fornecedorFilter : 'nomeFantasia'" routerLink="/fornecedor-detalhes/{{fornecedor.id}}">
          <th>{{fornecedor.id}}</th>
          <td>{{fornecedor.nomeFantasia}}</td>
          <td>{{fornecedor.cnpj}}</td>
          <td>{{fornecedor.endereco}}</td>
          <td>{{fornecedor.email}}</td>
          <td>{{fornecedor.telefone1}}</td>
          <td>{{fornecedor.telefone2}}</td>
          <td>{{fornecedor.telefone3}}</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
