<div class="card mt-4">
  <h4 class="card-header">Novo Agendamento</h4>
  <div class="card-body">

    <form [formGroup]="form">

      <div class="form-group">
        <label for="manutencao">Manutenção</label>
        <select id="manutencao" class="form-control" formControlName="manutencao" [ngClass]="{ 'is-invalid': submitted && f.manutencao.errors }">
          <option selected value="">selecionar...</option>
          <option *ngFor="let tipo of const.tiposManutencao" value="{{tipo.valor}}">{{tipo.texto}}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="proxima">Data</label>
        <input type="text" class="form-control" id="proxima" formControlName="proxima" [ngClass]="{ 'is-invalid': submitted && f.proxima.errors }">
      </div>

      <div class="form-group">
        <label for="observacoes">Observações</label>
        <input type="text" class="form-control" id="observacoes" formControlName="observacoes" [ngClass]="{ 'is-invalid': submitted && f.observacoes.errors }">
      </div>

      <div class="form-group">
        <button type="button" class="btn btn-secondary" *ngIf="!loading" routerLink="/ativos-details/{{pathAtivoId}}">Voltar</button>

        <button [disabled]="loading" class="btn btn-primary" (click)="salvar()">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Salvar
        </button>
      </div>

    </form>
  </div>
</div>
