﻿<!-- nav
<nav class="navbar navbar-expand navbar-dark bg-primary" *ngIf="currentUser">
  <a class="navbar-brand" routerLink="/">SICA</a>
        <a class="nav-item nav-link" routerLink="/">Página Inicial</a>
        <a class="nav-item nav-link" (click)="logout()">Sair</a>
</nav>-->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary" *ngIf="currentUser">
  <a class="navbar-brand" routerLink="/">S I C A</a>
  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse" id="navbarColor01" style="">
    <ul class="navbar-nav mr-auto">

      <li *ngFor="let menu of navMenu.menu[currentUser.roles[0].name]" class="nav-item">
        <a class="nav-link" routerLink="{{menu.link}}">{{menu.descricao}}</a>
      </li>
    </ul>

    <span class="navbar-text" *ngIf="currentUser.fullname"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;{{currentUser.fullname}}	&nbsp;	&nbsp;	&nbsp;</span>
    <button class="btn btn-outline-light my-2 my-sm-0" (click)="logout()">Sair</button>
  </div>
</nav>

<!-- main app container -->
<div class="container-fluid">
    <router-outlet></router-outlet>
</div>
