<h1>Monitoramento</h1>

<div class="alert alert-danger" role="alert" *ngIf="alertaAcionado">
  Módulo Segurança e Comunicação Acionado!
</div>

<div class="card mt-4">
  <h4 class="card-header">
    Barragem
    <button class="btn btn-danger float-right" (click)="alerta()"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Alerta</button>
  </h4>
  <div class="card-body">
    <div>

      <div class="container">
        <div class="row">
          <div class="col-sm">
            <p>Barragem: <b>{{barragem.nome}}</b></p>
            <p>Municipio: <b>{{barragem.municipio}}</b></p>
          </div>
          <div class="col-sm">
            <p>Estado: <b>{{barragem.estado}}</b></p>
            <p>Bacia: <b>{{barragem.bacia}}</b></p>
          </div>
          <div class="col-sm">
            <p>Latitude: <b>{{barragem.latitude}}</b></p>
            <p>Longitude: <b>{{barragem.longitude}}</b></p>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>

<div class="card mt-4">
  <h4 class="card-header">
    Sensor de Vazão
    <form [formGroup]="formVazao" class="form-inline float-right">
      <div class="form-group">
        <select id="comparadorVazao" class="form-control" formControlName="comparadorVazao" [ngClass]="{ 'is-invalid': submitted_v && fv.comparadorVazao.errors }">
          <option selected value="">selecionar...</option>
          <option *ngFor="let opt of comparadorOptions" value="{{opt.valor}}">{{opt.texto}}</option>
        </select>
      </div>

      <div class="form-group">
        <input type="number" class="form-control" id="nivelVazao" formControlName="nivelVazao" [ngClass]="{ 'is-invalid': submitted_v && fv.nivelVazao.errors }">
      </div>

      <button [disabled]="loading_v" class="btn btn-primary" (click)="salvarNivelVazao()">
        <span *ngIf="loading_v" class="spinner-border spinner-border-sm mr-1"></span>
        Salvar
      </button>
    </form>
  </h4>
  <div class="card-body">
    <div>
      <div style="display: block">
        <canvas baseChart
          [datasets]="vazaoChartData"
          [labels]="vazaoChartLabels"
          [options]="vazaoChartOptions"
          [colors]="vazaoChartColors"
          [legend]="lineChartLegend"
          [chartType]="lineChartType"
          [plugins]="lineChartPlugins">
        </canvas>
      </div>
    </div>
  </div>
</div>

<div class="card mt-4">
  <h4 class="card-header">
    Piezometro

    <form [formGroup]="formPiezometro" class="form-inline float-right">
      <div class="form-group">
        <select id="comparadorPiezometro" class="form-control" formControlName="comparadorPiezometro" [ngClass]="{ 'is-invalid': submitted_p && fp.comparadorPiezometro.errors }">
          <option selected value="">selecionar...</option>
          <option *ngFor="let opt of comparadorOptions" value="{{opt.valor}}">{{opt.texto}}</option>
        </select>
      </div>

      <div class="form-group">
        <input type="number" class="form-control" id="nivelPiezometro" formControlName="nivelPiezometro" [ngClass]="{ 'is-invalid': submitted_p && fp.nivelPiezometro.errors }">
      </div>

      <button [disabled]="loading_p" class="btn btn-primary" (click)="salvarNivelPiezometro()">
        <span *ngIf="loading_p" class="spinner-border spinner-border-sm mr-1"></span>
        Salvar
      </button>
    </form>

  </h4>
  <div class="card-body">
    <div>
      <div style="display: block">
        <canvas baseChart
          [datasets]="piezoChartData"
          [labels]="piezoChartLabels"
          [options]="piezoChartOptions"
          [colors]="piezoChartColors"
          [legend]="lineChartLegend"
          [chartType]="lineChartType"
          [plugins]="lineChartPlugins">
        </canvas>
      </div>
    </div>
  </div>
</div>
