<div class="card mt-4">
  <h4 class="card-header">Gerenciar Usuários</h4>
  <div class="card-body">

    <div class="form-inline">
      <div class="form-group mx-sm-2 mb-2">
        <input type="text" class="form-control" id="usernameFilter" [(ngModel)]="usernameFilter" placeholder="Buscar usuário...">
      </div>
      <div class="ml-auto">
        <button type="button" class="btn btn-success mb-2" data-toggle="modal" data-target="#exampleModal" (click)="initCreateUser()"><i class="fa fa-user-plus" aria-hidden="true"></i> Criar Usuário</button>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{{modalTitle}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form [formGroup]="userForm" (ngSubmit)="createUser()">
          <div class="modal-body">
            <div class="alert alert-danger" role="alert" *ngIf="createUserErrorMessage">
              {{createUserErrorMessage}}
            </div>
            <div class="alert alert-success" role="alert" *ngIf="createUserMessage">
              {{createUserMessage}}
            </div>
              <div class="form-group" *ngIf="update">
                <label for="id">ID</label>
                <input type="number" readonly class="form-control" id="id" formControlName="id">
              </div>
              <div class="form-group">
                <label for="username">Usuário</label>
                <input type="text" class="form-control" id="username" formControlName="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
              </div>
              <div class="form-group">
                <label for="fullname">Nome Completo</label>
                <input type="text" class="form-control" id="fullname" formControlName="fullname" [ngClass]="{ 'is-invalid': submitted && f.fullname.errors }">
              </div>
              <div class="form-group">
                <label for="password">Senha</label>
                <input type="password" class="form-control" id="password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
              </div>
              <div class="form-group">
                <label for="type">Tipo</label>
                <select id="type" class="form-control" formControlName="type" [ngClass]="{ 'is-invalid': submitted && f.type.errors }">
                  <option selected>selecionar...</option>
                  <option *ngFor="let type of typeList" value="{{type.id}}">{{type.desc}}</option>
                </select>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" id="modalBtnCancel" class="btn btn-secondary" data-dismiss="modal" *ngIf="!loading">Cancelar</button>
            <button [disabled]="loading" class="btn btn-primary" *ngIf="!createUserMessage">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              Salvar
          </button>
          </div>
        </form>
        </div>
      </div>
    </div>

    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Usuário</th>
          <th scope="col">Nome</th>
          <th scope="col">Tipo</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of userList | filter : usernameFilter : 'username'">
          <th>{{user.id}}</th>
          <td>{{user.username}}</td>
          <td>{{user.fullname}}</td>
          <td>{{user.roles[0].description}}</td>
          <td>
            <button type="button" class="btn btn-primary mx-sm-2" data-toggle="modal" data-target="#exampleModal" (click)="initUpdateUser(user)"><i class="fa fa-edit"></i></button>
            <button type="button" class="btn btn-danger" (click)="deleteUser(user.id)"><i class="fa fa-trash"></i></button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
